*{
}

/* For the options menu */

#globalMenu{
	position: absolute;
	border: solid;
	height: 100vh;
	width: 100%;
	z-index: 99;
	background-color: black;
	top: -100%;
	animation: slidein .8s;
	transition: top .8s;
}

#globalMenu span{
	color:  white;
	margin: 20px;
}

#globalMenu ul{
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0px;
	text-align: center;
}

#globalMenu ul li{
	list-style-type: none;
	padding: 20px;
}

#globalMenu ul li a{
	color: white;
}

body > span{
	margin: 20px;
}

/* For the load Menu */

#loadMenu{
	width: 100%;
	height: 100vh;
	background-color: rgba(59, 59, 59, 0.7);
	display: none;
	z-index: 99;
	color: white;
}

#loadMenu .centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#loadMenu{
	position: fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#loadMenu img{
	height: 450px;
}

#loadMenu p{
	text-align: center;
	padding: 15px;
}