.space-height {
    margin-bottom: 30px;
    display: block;
    width: 100%;
}

.top-header-wrap {
    background-color: #f7f7f7;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    font-size: 32px;
    padding: 20px 10px;
    color: #999;
}
.menu-wrap {
    margin: 0;
    padding: 0;
    background-color: #f60000;
    color: #fff;
    font-weight: bold;
}
.menu-wrap li {
    display: block;
}
.menu-wrap li a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
}
.menu-wrap .active,
.menu-wrap li a:hover {
    text-decoration: none;
    background-color: #c00;
}
.menu-wrap li a span {
    margin-right: 15px;
}






