body{
	/* animation: mainTest .8s; */
	/* animation-duration: .8s; */
}

#breederRegistrationDiv form{
	padding: 15px;
}

@keyframes mainTest{

	from{
		transform: scale(0);
	}
	
	to{
		transform: scale(1);
	}

}