#bodyResult{
	text-align: justify;
}

#bodyResult #imgDiv{
	height: 60vh;
	overflow: hidden;
}

#bodyResult #imgDiv img{
	height: 100%;
}

#introductionParagraph{
	word-wrap: break-word;
	padding: 15px;
}

#bodyResult #imgDiv img{
	height: 100%;
}

#imagePreview1{
	margin-top: 15px;
	padding: 0% !important;
}

#imagePreview1 img{
	width: 100%;
}

#descriptionParagraph{
	padding: 15px;
}

#galleryDiv{
	padding: 30px;
}

#dnaTestDiv{
	
}


/* MEDIA QUERYS */

/* MEDIA SCREEN FOR MD SCREEN OR LESS */
 @media only screen and (max-width: 992px){
 
	#bodyResult #imgDiv img{
		margin-left:50%;
		transform: translateX(-50%);
		padding: 15px;
	}

 }