#searcherDiv{
	height: auto;
	background-image: url("../../imgs/differentBreeds.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px ;
}

#searcherDiv .jumbotron{
	background-color: rgba(233, 236, 239, 0.7);
	
}

#searcherInput:hover ~ #results, #results:hover, #searcherInput:focus ~ #results, #results:hover{	
	max-height: 150px;
	margin-top: 10px;
	height: 150px;
} 

#results{
	height: 0px;
	background-color: white;
	position: relative;
	transition: margin .8s, height .8s, max-height .8s;
	overflow-y: scroll;
}

#results .dogResult{
	padding: 5px;
}

#results .dogResult:hover{
	background-color: #F2F1EF;
	cursor: pointer;
}

/* MEDIA QUERYS */

 @media only screen and (max-width: 768px){
 
	#searcherDiv{
		padding-left: 0px;
		padding-right: 0px;
	}

 }