#divContent > .row{
	height: 212px !important;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1:first-letter{
	text-transform: uppercase;
}

.imgContainer{
	overflow: hidden;
}

#divContent > .row img{
	height: 100%;
	width: 100%;
}

.removePadding{
	padding: 0px;
}

.card a{
	margin-left: 5px;
	margin-right: 5px;
}

#divContent{
	padding: 15px;
}

@media screen and (max-width: 768px){
	#divContent > .row{
		height: auto !important;
		margin-left: 0px;
		margin-right: 0px;
	}
	
}