.navbar{
	/*background-color: #c4ffd1 !important;*/
	background-color: rgba(59, 59, 59, 0.9) !important;
	position: sticky;
	top: 0px;
	z-index: 99;
}

.navbar-brand{
	color:white !important;
}

.navbar-toggler, .navbar-toggler-icon{
	border-color: white !important;
	color:  white !important;
	background-color: white;
}

.navbar ul li{
	padding: 10px;
}
.navbar ul li a{
	color: white !important;
}

.navbar .dropdown-item{
	color: black !important;
}

body > div{
	padding: 15px;
	min-height: 65vh;
}


footer{
	background-color: black;
	color: white;
}

footer>.container{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: justify;
}

#logosRow{
	padding: 15px;
}

footer .fab{
	font-size: 30px;
}

.fa-instagram{
	color: red;
}

.fa-facebook-f{
	background-color: blue;
	color: white;
	padding: 10px;
}

.fa-google-plus-square{
	color:red;
}

footer >div > div > .col-12:nth-child(2){
	border-left: solid 1px;
	border-right: solid 1px;
}

/* MEDIA QUERYS */

/* MEDIA SCREEN FOR MD SCREEN OR LESS */
 @media only screen and (max-width: 768px){
 
	footer > div > div > .col-12:nth-child(2){
		border: none;
		border-top: solid 1px;
		border-bottom: solid 1px;
	}
	
	footer > div > div >div{
		margin: 5px;
		padding: 5px;
	}

 }