#formContainer{
	height: 100vh;
	background-image: url("../../imgs/loginImage.jpg");

	background-repeat: no-repeat;
	background-size: cover;
}

#registationForm{
	border:solid;
	text-align: center;
	background-color: rgba(216, 216, 216, 0.8);
	color: white;
	box-sizing: border-box;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	min-width: 350px;
}

#registationForm > input{
	margin: 10px auto;
}