body > div{
	padding: 0px;
}

#carouselExampleControls{
	height: 80vh;
}

#carouselExampleControls .carousel-inner, #carouselExampleControls .carousel-item{
	height: 100%;
}

#carouselExampleControls img{
	height: 100%;
	position: center;
}

#informationBox{
	padding-top: 50px;
	padding-bottom: 50px;
}

#dogsCardsDiv{
	background-color: #c4ffd1;
}

#dogsCardsDiv > .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.dogCard{
	border: solid 1px;
	border-radius: 15px;
	height: 400px;
	overflow: hidden;
	text-align: center;
	transition: all .8s;
	margin: 10px;
	background-color: white;
}

.dogCard::-webkit-scrollbar{
	display: none;
}

.dogCard .visible img{
	height: 400px;
	width: 100%;
	object-fit: cover;
	transition: all .8s;
}

.dogCard:hover{
	padding: 5px;
	overflow-y: scroll;
}

.dogCard:hover img{
	height: 200px;
	border-radius: 50%;
}



