#profileDiv{
	
}

#profileDiv #bodyDiv img{
	height: 100%;
	width: 100%;
	max-height: 450px;
	max-width: 450px;
	cursor: pointer;
}

#profileDiv #bodyDiv img:after{
	height: 100%;
	width: 100%;
	content: "TEST";
}

#profileDiv #bodyDiv>div:first-child{
	margin-bottom: 15px;
}

#busienssDiv{

}

.fas{
	font-size: 25px;
}

.fas:hover{
	cursor: pointer;
}

.visible{
	display: block !important;
}

.invisible{
	display: none !important;
}

.data{
	transition: all 8s;
}

table iframe{
	width: 100%;
	height: 80vh;
	min-height: 400px;
}

#addIframe{
	display: none;
}