.collapseIcon{
	background-color: #89C4F4 !important;
	border:solid;
	border-radius: 50%;
	padding: 5px;
}

.collapseIcon i{
	color: gray;
}

.result{
	border: solid 1px gray;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.result .col-md-4{
	height: auto;
	padding: 0px;
}

.result .col-md-8{
	padding-bottom: 5px;
}

.result img{
	height: 100%;
	width: 100%;
}

.col-md-0{
		display: none;
	}

/* MEDIA QUERYS */

/* MEDIA SCREEN FOR MD SCREEN OR LESS */
 @media only screen and (max-width: 768px){
 
	.result{
		border-radius: 15px;
	}
	
	.col-md-0{
		display: block;
	}

 }