#publicSearchResult #body #mainImage{
	width: 100%;
	height: auto;
}

#publicSearchResult #body #lightgallery img{
	max-height: 150px;
}

#publicSearchResult #body #lightgallery a{
	float: left;
}

#publicSearchResult #body{
	padding-top: 15px;
	padding-bottom: 15px;
}

#publicSearchResult p{
	padding: 15px;
	text-align: justify;
}

.overflow-vertical{
	overflow-x: hidden;
}

.overflow-vertical > div{
	width: 500%;
	display: inline-block;
}

#publicSearchResult #body #lightgallery{
	border:solid;
	overflow: hidden;
	height: 150px;
	display: block;
}

table{
	text-align: center;
	margin-top: 15px;
	overflow: hidden;
	width: 100% !important;
}

table thead th:first-child{
	border-right: solid;
}

table tbody th{
	background-color: #e9ecef;
}

#publicSearchResult button{
	background-color: rgb(255,165,0);
	border-color: rgb(255,165,0);
	color: black;
}