#messageBox{
	background-color: rgba(224, 224, 224, 0.7);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0px;
}

#messageBox #insideBox{
	background-color: white;
	border:solid;
	height: 50vh;
	width: 50%;
	overflow: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 350px;
	transform: translate(-50%, -50%);
	animation: appearAnimation .8s;
	padding: 15px;
}

@keyframes appearAnimation{
	from{
		top: 40%;
		opacity: 0;
	}
	to{
		top: 50%;
		opacity: 1;
	}
}