table iframe{
	width: 100%;
	height: 80vh;
	min-height: 400px;
}

#addWaitingList, #addWaitingList td{
	transition: all .8s;
	/*visibility: hidden;*/
}



.fas{
	font-size: 25px;
}

.fas:hover{
	cursor: pointer;
}

.visible{
	display: block !important;
}

.invisible{
	display: none !important;
}

.data{
	transition: all 8s;
}