<div class="space-height"></div>
<div class="row">
    <div class="col-md-12">
        <h4>New setting</h4>
        {::SETTING_FORM_UI::}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Settings Manager</h4>
        {::SETTINGS_MANAGER_LIST_UI::}
    </div>
</div>