<form method="post">
    <input type="hidden" name="idHid" value="{::ID_VALUE::}">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" name="priceInput" required="required" step="0.1" value="{::PRICE_VALUE::}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Percentage</label>
                <input type="number" class="form-control" name="percentInput" required="required" step="0.1" value="{::PERCENT_VALUE::}">
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
            <button class="btn btn-sm btn-info" type="submit" name="changeBtn"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-sm btn-danger" type="submit" name="deleteBtn" onclick="return confirm('Are you sure to remove this setting permanently?');"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</form>
<hr>