<form method="post">
    <input type="hidden" name="supplierId" value="{::SUPPLIER_ID_VALUE::}">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Supplier ID</label>
                <input type="text" class="form-control" name="originIdInput" value="{::ORIGIN_ID_VALUE::}" required="required">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Company name</label>
                <input type="text" class="form-control" name="companyNameInput" value="{::COMPANY_NAME_VALUE::}" required="required">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="addressInput" value="{::ADDRESS_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="cityInput" value="{::CITY_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Zip</label>
                <input type="text" class="form-control" name="zipInput" value="{::ZIP_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Country</label>
                <select class="form-control" name="countryInput">
                    <option>Select a country</option>
                    {::COUNTRY_LIST::}
                </select>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Contact name</label>
                <input type="text" class="form-control" name="contactNameInput" value="{::CONTACT_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="emailInput" value="{::EMAIL_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="phoneInput" value="{::PHONE_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Fax</label>
                <input type="text" class="form-control" name="faxInput" value="{::FAX_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Direct dial</label>
                <input type="text" class="form-control" name="ddiInput" value="{::DDI_VALUE::}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" name="notesInput">{::NOTES_VALUE::}</textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-sm btn-info" type="submit" name="changeBtn"><i class="glyphicon glyphicon-pencil"></i></button>
    <button class="btn btn-sm btn-danger" type="submit" name="deleteBtn" onclick="return confirm('Are you sure to remove this supplier permanently?');"><i class="glyphicon glyphicon-remove"></i></button>
</form>
<hr>