<form method="get" action="export_download.php">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Supplier</label>
                <select class="form-control" name="supplierInput" required="required">
                    <option value="">Select a supplier</option>
                    {::SUPPLIER_LIST::}
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info" name="exportBtn">Export</button>
</form>