<form method="post">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Supplier ID</label>
                <input type="text" class="form-control" name="originIdInput" required="required">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Company name</label>
                <input type="text" class="form-control" name="companyNameInput" required="required">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="addressInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="cityInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Zip</label>
                <input type="text" class="form-control" name="zipInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Country</label>
                <select class="form-control" name="countryInput">
                    <option>Select a country</option>
                    {::COUNTRY_LIST::}
                </select>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Contact name</label>
                <input type="text" class="form-control" name="contactNameInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="emailInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="phoneInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Fax</label>
                <input type="text" class="form-control" name="faxInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Direct dial</label>
                <input type="text" class="form-control" name="ddiInput">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" name="notesInput"></textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-sm btn-success" type="submit" name="saveBtn">Save</button>
</form>