<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Category ID</label>
                <input type="text" class="form-control" name="originIdInput" required="required">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Category name</label>
                <input type="text" class="form-control" name="categoryNameInput" required="required">
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
            <button class="btn btn-sm btn-success" type="submit" name="saveBtn">Save</button>
        </div>
    </div>
</form>