<form method="post">
    <input type="hidden" name="prodCodeHid" value="{::PROD_CODE::}">
    <input type="hidden" name="manufCodeHid" value="{::MANUF_CODE::}">
    <input type="hidden" name="descriptionHid" value="{::DESCRIPTION::}">
    <input type="hidden" name="priceHid" value="{::PROD_PRICE::}">
    <input type="hidden" name="quantityHid" value="{::QUANTITY::}">
    <input type="hidden" name="detailsHid" value="{::DETAILS::}">
    <input type="hidden" name="imageHid" value="{::IMG_SRC::}">
    <input type="hidden" name="weightHid" value="{::WEIGHT::}">
    <input type="hidden" name="supplierHid" value="{::SUPPLIER_ID::}">
    <div class="row">
        <div class="col-md-2">
            <img src="{::IMG_SRC::}" style="width: 100%;">
        </div>
        <div class="col-md-10">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-4">
                    <label>Product desc</label><br>
                    {::PROD_TITLE::}
                </div>
                <div class="col-md-2">
                    <label>Supplier name</label><br>
                    {::SUPPLIER_NAME::}
                </div>
                <div class="col-md-2">
                    <label>Product code</label><br>
                    {::PROD_CODE::}
                </div>
                <div class="col-md-2">
                    <label>Product price</label><br>
                    {::PROD_PRICE::}
                </div>
                <div class="col-md-2">
                    <label>Quantity</label><br>
                    {::QUANTITY::}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select name="catSelect" class="form-control" required="required">
                        <option value="">Select a category</option>
                        {::CATEGORY_LIST::}
                    </select>
                </div>
                <div class="col-md-6">
                    <button type="submit" name="saveBtn" class="btn btn-info">Save</button>
                    <button type="submit" name="deleteBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<hr>