<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" name="priceInput" required="required" step="0.1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Percentage</label>
                <input type="number" class="form-control" name="percentInput" required="required" step="0.1">
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
            <button class="btn btn-sm btn-success" type="submit" name="saveBtn">Save</button>
        </div>
    </div>
</form>