<div class="space-height"></div>
<div class="row">
    <div class="col-md-12">
        <h4>New supplier</h4>
        {::SUPPLIER_FORM_UI::}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Supplier Manager</h4>
        {::SUPPLIER_MANAGER_LIST_UI::}
    </div>
</div>