<div class="space-height"></div>
<div class="row">
    <div class="col-md-12">
        <h4>New category</h4>
        {::CATEGORY_FORM_UI::}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Category Manager</h4>
        {::CATEGORY_MANAGER_LIST_UI::}
    </div>
</div>