<form method="post">
    <input type="hidden" name="categoryIdHid" value="{::CATEGORY_ID_VALUE::}">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Category ID</label>
                <input type="text" class="form-control" name="originIdInput" required="required" value="{::ORIGIN_CATEGORY_ID_VALUE::}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Category name</label>
                <input type="text" class="form-control" name="categoryNameInput" required="required" value="{::CATEGORY_NAME_VALUE::}">
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
            <button class="btn btn-sm btn-info" type="submit" name="changeBtn"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-sm btn-danger" type="submit" name="deleteBtn" onclick="return confirm('Are you sure to remove this category permanently?');"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</form>
<hr>