<form method="post" enctype='multipart/form-data'>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Supplier</label>
                <select class="form-control" name="supplierInput" required="required">
                    <option value="">Select a supplier</option>
                    {::SUPPLIER_LIST::}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Select a template</label>
            <div class="checkbox">
                <label>
                    <input type="radio" name="templateInput" value="1"> &nbsp;
                    spire.csv
                </label>
                <label>
                    <input type="radio" name="templateInput" value="2"> &nbsp; 
                    tagetpricelist.xml.csv
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Upload csv</label>
                <input type="file" class="form-control" name="csvInput" required="required">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info" name="importBtn">Import</button>
</form>